

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 9;

    
    .hamburger {
    display: block;
    cursor: pointer;
    z-index: 10;
    margin-top: -90px;
    }

    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }

    .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 15px;
    }

    .nav-menu {
    position: absolute;
    left: -100%;
    top: 0px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    backdrop-filter: blur(20px);
    background: radial-gradient(45% 38% at 26% 57%, rgba(217, 217, 217, 0.2) 0%, rgba(115, 115, 115, 0.20) 80.39%);

    ul {
        list-style-type: none;
        margin-top: 50px;
    }
    }


   .nav-item {
    border-radius: 30px;
    padding: 10px;
    width: 100%;

    a {
        text-align: left;
        display: block;
        margin-top: 25px;
        padding: 0px 0px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    a:hover {
        color: #6933B3;
        cursor: pointer;
    }
    }

   .nav-menu.active {
    left: 0;
   }

   .nav-link {
    transition: 0.7s ease;
    text-align: center;
   }   

   
}

.logo-mobile {
    text-align: center;
    padding: 20px;
    cursor: pointer;

    img {
        width: 150px;
    }
}

.logo-tablet {
    display: none;
}

.contact-tablet {
    display: none;
}

@media screen and (min-width: 768px) {

    .navbar {
        display: flex;


        .hamburger {
            display: none;
        }

        .nav-menu {
            position: relative;
            left: 0;
            background: transparent; 
            align-items: center;
            margin-top: -25px;

            ul {
                display: flex;
            }
        }
        
        
        
        .nav-item {
            border-radius: 30px;
            padding: 0px;
            width: 100%;

            a {
                margin: 0 auto;
                display: block;
                text-decoration: none;
                font-size: 13px;
                font-weight: normal;
                background-color: transparent;
                align-items: center; 
                text-wrap: nowrap;
            }
        }

        .nav-item:nth-child(1) {
            margin-left: 50px;
            margin-right: -110px;
        }

        .nav-item:nth-child(3) {
            margin-left: -90px;
        }
        
        .contact-mobile {
            display: none;
        }
       

        .logo-tablet {
            display: block;
            padding: 10px;
            cursor: pointer;

    
            img {
                width: 100%;
            }
        }
    }

    .logo-mobile {
        display: none;
    }

    .contact-tablet {
        display:block;
        font-size: 14px;
        text-wrap: nowrap;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px; 
        text-align: center;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1200px) {

    .navbar {
        .nav-item {

        a {
            font-size: 18px;
        }
    }

    .nav-item:nth-child(1) {
        margin-left: 180px;
        margin-right: -230px;
    }

    .nav-item:nth-child(3) {
        margin-left: -200px;
    }

    .logo-tablet {
        padding: 20px 20px 20px 0;
        width: 240px;
    }
}

.contact-tablet {
    font-size: 18px;
    padding: 20px; 
    border-radius: 60px;
}
}
